@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    display: flex;
    padding: 0px;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

/* HEADER */

header {
    height: 20vh;
    width: 100vh;
    background-color: antiquewhite;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
}

h1{
    align-items: center;
    text-align: center;
    color: black;
}

main {
    height: 80vh;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 30vh;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  footer {
    height: 20vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a3a3a;
}
  /* Estilos adicionais, se necessário */
  /* .animation-container {
    background-color: #f0f0f0; 
    border: 1px solid #ddd;
    padding: 20px;
  } */
  