* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

/* HEADER*/

header {
    height: 10vh;
    background-color: rgb(108, 35, 126);
    align-items: center;
    justify-content: center;
    display: flex;
}
  
/* MAIN*/

main{
    height: 70vh;
}

.bento {
    min-block-size: 80vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    padding: 10px;
}
  
.bento__container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    gap: 1ch;
    min-height: inherit;
    flex: 2 0 100px;
    align-items: center;
}
  
.bento__container[variant-1] {
    --bg: #837AED;
    grid-template-columns: 1fr 1fr 1fr;
}
  
.bento__item {
    height: 100%; width: 100%;
    grid-column: var(--columns, span 1);
    grid-row: var(--rows, span 1);
    background-color: var(--bg);
    border-radius: 1rem;
    align-items: center;
  }

h1{
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    color: #fbfcfd;
    width:250px;
    margin:auto;
}

h2{
    align-items: center;
    color: #fbfcfd;
    width:250px;
    margin-left: 100px;
}

input[type=text] {
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 90px;
    align-items: center;
}

input[type=button] {
    border-radius: 5px;
    height: 50px;
    float: flex;
    cursor: pointer;
}

h3{
    align-items: center;
    color: #fbfcfd;
    width:250px;
    margin-left: 100px;
}

.style_form{
    height: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 100px;
    align-items: center;
}

.describe__personagem{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 50px;
    color: #fbfcfd;
    font-size: 30px;
}